body {
  margin: 0;
  padding: 0;
  background-color: #222;
  text-align: center;
  font-family: $sans-serif;
  font-weight: 300;
  color: #fff;
}
main {
  display: block;
}
#app {
  text-align: center;
}
h1, h2, h3 {
  font-weight: 400;
}
a {
  color: #ad4;
}
.nav-link {
  position: absolute;
  top: 6px;
  font-size: 14px;
  $position-x: 8px;
  &-left {
    left: $position-x;
  }
  &-right {
    right: $position-x;
  }
  a {
    text-decoration: none;
  }
}

input[type='text'] {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 3px;
  padding: 4px 8px;
  background-clip: padding-box;
  text-align: center;
  font-family: $monospace;
  font-size: 16px;
  &:focus {
    outline-width: 0;
    border-color: #f63;
    background-color: #ffe;
    box-shadow: 0 0 5px 1px #f96;
  }
}

// A general-purpose container that fits to the viewport width but is
// horizontally scrollable
.scrollable-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
