// Styling for truth tables and expressions

table {
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 5px #000;
}

th, td {
  padding: 10px 18px;
}
// Set darker background for table head cells
th {
  background-color: lighten(#111, 5%);
  font-weight: 400;
  &.expression {
    input[type='text'] {
      font-size: 16px;
    }
  }
}

// Highlight styles for various expression values
$value-colors: (
  true: #384,
  false: #a34,
  invalid: #444
);
@each $value-name, $value-color in $value-colors {
  td.#{$value-name} {
    background-color: $value-color;
    tr:nth-child(even) & {
      background-color: darken($value-color, 4%);
    }
  }
}
