// Styling for Truthy variables and variable container

#variables {
  text-align: center;
}
.variable {
  display: inline-block;
  margin: 10px;
  input[type='text'] {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
  }
}
