// Add/remove controls for individual variables/expresisons
@use 'sass:math';

// Any arbitrary container to attach controls to
.has-controls {
  position: relative;
}

.control {
  position: absolute;
  --control-size: 16px;
  top: calc(-1 * var(--control-size) / 2);
  z-index: 10;
  width: var(--control-size);
  height: var(--control-size);
  border: solid 1px #444;
  border-radius: 50%;
  background-color: #000;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  --control-x: calc(-1 * var(--control-size) / 2);
  &-add {
    right: var(--control-x);
    background-image: url('../icons/add.svg');
  }
  &-remove {
    left: var(--control-x);
    background-image: url('../icons/remove.svg');
  }
}
