// The reference for app features and operations

#reference {
  --reference-fade-duration: 300ms;
  --reference-fade-easing: ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
  // Transition z-index when closing drawer so z-index only changes once face
  // transition has finished
  transition-property: z-index, background-color;
  transition-duration: var(--reference-fade-duration);
  transition-timing-function: var(--reference-fade-easing);
  &.reference-is-open {
    z-index: 100;
    // Change z-index instantly when opening the drawer
    transition-property: background-color;
    background-color: rgba(#000, 0.5);
  }
}

#reference-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 300px;
  height: 100%;
  border-right: solid 1px #fff;
  box-sizing: border-box;
  padding: 0 20px;
  padding-bottom: 20px;
  background-color: #222;
  box-shadow: 2px 0 5px 1px rgba(#000, 0.25);
  text-align: left;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform var(--reference-fade-duration) var(--reference-fade-easing);
  .reference-is-open & {
    transform: translateX(0);
  }
  h2 {
    text-align: center;
  }
  h3 {
    font-size: 18px;
  }
  p.cta {
    text-align: center;
    font-size: 14px;
    color: rgba(#fff, 0.75);
    font-style: italic;
  }
  // Close button in top-left corner
  img.reference-close-control {
    position: absolute;
    --link-position: 16px;
    top: var(--link-position);
    left: var(--link-position);
    --link-size: 16px;
    width: var(--link-size);
    width: var(--link-size);
  }
}

pre.feature-example {
  display: inline-block;
  margin: 0 8px;
  margin-bottom: 8px;
  border: solid 1px #666;
  border-radius: 3px;
  padding: 4px 8px;
  background-color: #111;
  font-family: var(--monospace);
  cursor: pointer;
}
